.content {
  background: #2db34a;
  border-radius: 6px;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
}
.content:hover {
  background: #ff7b29;
  border-radius: 50%;
}


*{
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
}
a{
  text-align: center;
}
#content{
text-align: center;
}
img{
  width: 250px;
  height: 250px;
  margin: 15px;
  border: 3px solid black;
}
img.large{
  width: 400px;
}
img.medium{
  width: 300px;
}
img.small{
  width: 200px;
}
img.thumbnail{
  width: 75px;
  height: 75px;
}
p{
  margin-left: 12.5%;
  margin-right: 12.5%;
}
